 
@media (min-width: 3000px){
    .banner-mobile {
        right: 29%;
        width: 21%;
    }
    .about-long .long-image {
        left: 32%;
    }
    .about-short .short-image {
        top: 6%;
        right: 30%;
        width: 18%;
    }
    .form-box {
        width: 30%;
        
    }
} 

@media(min-width:1200px){
    .banner-mobile img {
        width: 100%;
    }
    .about-short .heading p {
        padding-right: 0px;  
    }
}
@media(min-width:1200px){
    .about-short .heading {
        padding: 70px 0 0px 12px;
    }
}

@media(min-width:1901px) and (max-width:2500px){
    
    .banner-mobile {
        right: 25%;
        width: 25%;
    }
    .about-long .long-image {
        left: 28%;
    }
    .about-short .short-image {
        top: 4%;
        right: 24%;
        width: 22%;
    }
    .form-box {
        width: 36%;
    }

}

@media(min-width:1401px) and (max-width:1920px){
    
    .banner-mobile {
        right: 339px;
        width: 30%;
    }
    .about-long .long-image {
        left: 400px;
    }
    .about-short .short-image {
        top: 7%;
        right: 18%;
        width: 28%;
    }
    .about-short .heading {
        padding: 70px 0 0px 12px;
    }
    .form-box {
        width: 46%;
    }

}



@media(min-width:1201px) and (max-width:1440px){
    .banner-mobile {
        right: 7%;
        width: 28%;
    }
    .content h1 {
    font-size: 39px;
    }
    .about-long .long-image {
        top: 45px;
        left: 18%;
    } 
    .about-short .heading {
        padding: 50px 0 0px 12px;
    }
	.about-short .short-image {
        top: 4%;
        width: 36%;
        right: 9%;
    }
    .form-box {
        width: 50%;
    }
}

@media (min-width: 1025px) and (max-width: 1200px){
    .banner-mobile {
        right: 79px;
        width: 31%;
    }
    .about-long .long-image {
        top: 8%;
        width: 37%;
    }
    .about-short .short-image {
        top: 5%;
        right: 2%;
        width: 49%;
    }
    .content h1 {
        font-size: 40px;
    }
}


@media(min-width:993px) and (max-width:1024px){
    .about-long .long-image {
    width: 41%;
    }

    .slide-item-two p {
    margin-bottom: 24px;
    }

}

@media (min-width:769px) and (max-width:1440px){
.feature-item h2 {
    font-size: 22px;
    }
    .feature-item p {
    padding-right: 0;
    }
    .slide-item-one {
    padding-left: 30px;
    }
    .slide-item-two {
    padding-left: 30px;
    }
    .ad-section {
    padding: 40px 0;
    }
    .ad-section .ad-content p {
    text-align: center;
    margin-bottom: 25px;
    font-size: 27px;
    }
    .ad-section .ad-btn {
    text-align: center;
    }
    .pricing-table{
        margin-bottom: 40px;
        }
}


@media(min-width:769px) and (max-width:1200px){
   
    .content p {
    padding-right: 60px;
    }
    .content .btn-view {
    margin-left: 10px;
    padding: 15px 20px;
    }
}

@media (min-width:769px) and (max-width:1024px){
    .banner-mobile {
        right: 8%;
        width: 36%;
    }
     .content h1 {
    font-size: 28px;
    }
    .feature-item h2 {
    font-size: 22px;
    }
    .feature-item p {
    padding-right: 0;
    }
    .about-long .heading p {
    padding-right: 0;
    }
    .about-short .short-image {
        top: 14%;
        width: 46%;
        right: 3%;
    }
    .about-short .heading {
    padding: 0px 0 0px 12px;
    }
    .about-short .heading {
        padding-top: 50px;
    }
    .about-short .heading p {
    margin-bottom: 20px;
    padding-right: 0;
    }
}


@media (min-width:769px) and (max-width:992px){
    .banner-mobile {
        width: 34%;
        right: 139px;
    }
    .feature-item h2 {
    font-size: 22px;
    }
    .feature-item p {
    padding-right: 0;
    margin-bottom: 30px;
    }
    .about-long .long-image {
        width: 37%;
    }
    .about-long .heading {
    padding: 70px 0 0 0;
    margin-bottom: 0;
    }
    .about-long .heading h1 {
    font-size: 25px;
    }
    .slide-item-one p {
    margin-bottom: 25px;
    padding-right: 0;
    }
    .slide-item-two p {
    margin-bottom: 52px;
    padding-right: 0;
    }
    .form-box {
        padding: 30px 30px;
        width: 52%;
      
    }
    
}

/*@media (min-width: 993px) and (max-width: 1400px){
    .banner-mobile {
    width: 40%;
    right: 60px;
    }
}
@media (min-width: 769px) and (max-width: 992px){
    .banner-mobile {
    width: 37%;
    right: 140px;
}
}*/

@media(max-width:992px){
    .navbar-nav{
        text-align: center;
        margin-top: 30px;
    }
    .nav-item {
        padding: 10px 10px;
    }
    .nav-link {
        display: inline-block;
    }
    .navbar-nav{
        text-align: center;
        margin-top: 30px;
    }
    .nav-item {
        padding: 10px 10px;
    }
}

@media(max-width:768px){
 /*Banner Section	*/
    .banner-mobile .mob-hide{
    display: none;
    }
    .banner-mobile .dext-hide{
    display: block;
    }
    .banner-mobile {
		position: static;
		width: 50%;
    	margin: 50px auto 30px auto;
	}
	.banner-section .height {
	    flex-direction: column-reverse;
	}
	
	.content .btn-design {
      	margin-bottom: 35px;
	}
	.content .btn-design {
      	margin-left: 25px;
	}

/*Feature SectioN	*/
	.height .content {
    	text-align: center;
	}
	.content h4 {
      	font-size: 17px;
	}
	.content h1 {
        font-size: 40px;
	}
	
	.heading {
    	margin-bottom: 30px;
	}
	.feature-item {
    	margin-bottom: 30px;
	}
	.feature-item h2 {
    font-size: 22px; 
    }
    .feature-item p {
    padding-right: 0;
}

/*about-long Section */
    .about-long .long-image {
    position: static;
    width: 60%;
    margin: 0 auto;
    }
    .about-long .heading {
    padding: 55px 12px 0px 12px;
    }
    .about-long .heading ul {
    padding: 0;
    }
    .about-long .heading {
    margin-bottom: 0;
    }
    .about-long .heading p {
    padding-right: 0;
	}
/*short Section */
   .about-short .short-image {
    position: static;
    width: 72%;
    margin: 0 auto;
    }
    .about-short .short-image .img-fluid {
    width: 100%;
    }
    .about-short .heading p {
    padding-right: 0;
    }
    .about-short .heading {
    padding: 50px 0 0 15px;
}
    .about-short .heading {
    margin-bottom: 0;
    }
/*Testimonial Section */
    .slide-item p {
    text-align: center;
    }
    .slide-item p {
    padding-right: 0;
    margin-bottom: 40px;
    }
    .testimonial-section .client {
    justify-content: center;
    }
    .client .client-details p {
    padding-left: 0;
    }
    .slide-item-one p{
        padding: 0 42px;
        }
        .slide-item-two p{
            padding: 0 42px;
        }
 /*ad-section */
    .ad-section .ad-content {
    text-align: center;
    }
    .ad-section .ad-content p {
    font-size: 26px;
    }
    .ad-section .ad-btn {
    margin-top: 20px;
    text-align: center;
    }
/*pricing-section */
    .pricing-table{
    margin-bottom: 25px;
    }
/*Conatct-section */
   .contact-section {
    padding-bottom: 541px;
    }
   .contact-media {
    margin-bottom: 25px;
    }
    .form-box form input[type='submit'] {
    margin-left: auto;
    }
    .form-box {
        padding: 35px 20px;
        width: 50%;
        top: 53%;
    }  
/* Footer-section */
    .footer-section .social-media ul {
    padding: 0;
    }

/*map section */    
    .map iframe {
    height: 300px;
    }   

}

@media (min-width:321px) and (max-width:575px){
    .pricing-section .pricing-items {
        padding: 0 22%;
    }
}
@media (max-width:575px){
       .about-long .long-image {
         width: 50%;
    }
    .form-box {
        padding: 35px 20px;
        width: 70%;
        top: 53%;
    }
   
}

@media(max-width:424px){
    .content h1 {
    font-size: 33px;
    }
    .content h4 {
    font-size: 17px;
}
}

@media(max-width:375px){
    
}


@media (min-width:0px) and (max-width:320px){
    .content h1 {
    font-size: 28px;
    }
    .content h4 {
    font-size: 15px;
	}
    .heading h1 {
        font-size: 25px;
    }
    .heading h4 {
        font-size: 13px;
    }
	.ad-btn .btn-view {
    margin-left: 0;
    margin-top: 25px;
    }
.about-long .heading h1 {
    font-size: 24px;
    }
    .about-long .heading h4 {
        font-size: 13px;
    }
    .about-short .heading h1 {
        font-size: 26px;
    }
    .about-short .heading h4 {
        font-size: 13px;
    }
    .about-short .short-image {
        width: 100%;
        margin-bottom: 20px;
    }
    .form-box {
        width: 90%;
    }
}